* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body {
  background-color: #ecf2f8;
  font-family: 'Inter', sans-serif;
  }

.complete-page-container {
  padding: 8% 5%;
  
}

.complete-page-container p {
    font-size: 12px;
    font-weight: 400;
    color: #5d5f79;
}

.header {
  display: flex;
  margin-bottom: 30px;
  
}

.logo {
  flex-basis: 35%;
}

.headings {
  flex-basis: 65%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.headings p {
  position: absolute;
  visibility: hidden;
}

/* 
collapsing menu start
*/


/* changing the nav button */

.nav-button {
  
}


/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 100;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  /* Black fallback color */
  background-color: rgba(255, 255, 255, 1);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: left;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
  margin-left: 20px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}




/* 
collapsing menu end
*/

.mobile-1 {
  
  margin-bottom: 20px;
}

.mobile-1 img {
  max-width: 100%;
}

.mobile-2 {
  
  margin-bottom: 15px;
  line-height: 50px;
}

.mobile-2 h1{
  font-weight: 800;
  font-size: 3rem;
  
}

.mobile-3 {
  
  margin-bottom: 50px;
}

.button {
  background-color: #f15e50;
  border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 13px;
    margin-top: 15px;
    letter-spacing: 5px;

    transition-duration: 0.4s;
}

.button:hover {
  background-color: #000000;
  color: white;
  cursor: pointer;
}

.mobile-4 {
  background-color: #000000;
  color: white;
  padding: 20px;
  margin-bottom: 50px;
}

.mobile-4 h2 {
  color: #e9ab53;
  margin-bottom: 20px;
}

.mobile-4 h4 {
  margin-bottom: 20px;
}

.mobile-4 h4:hover {
  color: #e9ab53;
  cursor: pointer;
}

.mobile-4 p {
  color: #c5c6ce;
  margin-bottom: 20px;
}

.line {
  margin-bottom: 20px;
  opacity: 50%;
}

.foot-elem {
  
  margin-bottom: 20px;
  display: flex;
}

.foot-elem img {
  max-height: 100px;
}

#m5-text, #m6-text, #m7-text {
  margin-left: 20px;
}

.foot-elem h2 {
  color: #c5c6ce;
  margin-bottom: 10px;
}

.foot-elem h4 {
  margin-bottom: 10px;
}

.foot-elem h4:hover {
  color: #f15e50;
  cursor: pointer;
}




@media (min-width: 770px) {
  .complete-page-container {
    max-width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
  }

  .complete-page-container p {
    font-size: 15px;
}

  .header {
    margin-bottom: 50px;
    justify-content: space-between;
  }

  .logo {
    
    max-width: 100px;
  }

  .headings {
    
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .headings p {
    visibility: visible;
    position: relative;
  }

  .headings-text {
    
    margin-left: 25px;
    
  }

    .headings p:hover {
      color: #f15e50;
      cursor: pointer;
    }

    .nav-button {
      visibility: hidden;
      position: absolute;
      z-index: -1;
    }



    

  .gid-3-by-3 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .5fr .5fr;
    grid-gap: 25px;
  }

  .mobile-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 0;
  }

  .mobile-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 0;
    line-height: 45px;
  }

  .mobile-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-bottom: 0;
  }

  #mob-3-text {
    
    margin-bottom: 20px;
  }

  .mobile-4 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

    .mobile-4 h2 {
      margin-top: 0px;
    }

    .mobile-4 h4 {
      margin-top: 30px;
    }

    .mobile-4 p {
      margin-bottom: 0;
    }

    .line {
      margin-top: 40px;
    }

  #mobile-5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

    #mobile-6 {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

        #mobile-7 {
          grid-column: 3 / 4;
          grid-row: 3 / 4;
        }

    .foot-elem {
      margin-bottom: 0;
      margin-top: 30px;
    }

    .foot-elem h2 {
      font-size: 2rem;
      margin-top: 0px;
      
    }

        .foot-elem h4 {
          font-weight: 700;
          margin-top: 10px;
        }

        .foot-elem p {
          font-size: .9rem;
          margin-top: 20px;
        }

    #mobile-5 img,
    #mobile-6 img,
    #mobile-7 img {
      max-height: 140px;
    }

        #m5-text,
        #m6-text,
        #m7-text {
          margin-right: 5px;
          margin-top: 0px;
        }


  